body {
  margin: 0;
}

.container {
  color: #055160;
  background-color: #cff4fc;
  border: 1px solid #b6effb;
  padding: 20px;
  margin: 0 auto;
  width: min(100ch, 95%);
}

* {
  box-sizing: border-box;
}
