body {
  margin: 0;
}

.container {
  color: #055160;
  background-color: #cff4fc;
  border: 1px solid #b6effb;
  padding: 20px;
  margin: 0 auto;
  /* width: min(100%, 600px); */
  width: max(90%, 400px);

}

* {
  box-sizing: border-box;
}
