body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

:root {
  --footerHeight: 70px;
}

.content {
  /* min-height: calc(100vh - var(--footerHeight)); */
  flex: 1;
}

.footer {
  background: cornflowerblue;
  color: aliceblue;
  padding: 20px;
  height: var(--footerHeight);
}

@media (max-width: 960px) {
  :root {
    --footerHeight: 100px
  }
}

* {
  box-sizing: border-box;
}