.container {
  border: 1px dashed #000;
  margin: 0 auto;
  box-sizing: content-box;
  /* width: 600px; */
}

.block {
  border: 1px dotted red;
  height: 100px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.block {
  /* --items: 3; */
  margin-left: 20px;
  flex: 1;
  /* width: calc(100% / var(--items) - 20px); */
  flex-basis: 300px;
}

/* @media (max-width: 1200px) {
  .block {
    --items: 4;
  }
} */


* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
