.container {
  border: 1px dashed #000;
  margin: 0 auto;
  box-sizing: content-box;
}

.block {
  border: 1px dotted red;
  height: 100px;
}


* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
