:root {
  --cols: 12;
}

.container {
  display: flex;
  margin-bottom: 10px;
}

.col {
  background: grey;
  height: 300px;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.col-4 {
  width: calc(100% / var(--cols) * 4);
}

.col-3 {
  width: calc(100% / var(--cols) * 3);
}

.col-6 {
  width: calc(100% / var(--cols) * 6);
}
