.wrapper {
  position: relative;
  display: inline-block;
  height: min(40vw, 300px);
}

.wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000 0, transparent max(30%, 20vw));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* .container {
  height: 300px;
  background: linear-gradient(130deg, #000 0, #000 min(50%, 20vw), blue);
} */

* {
  box-sizing: border-box;
}